<network>
  <name>controller_net</name>
  <forward mode='nat'/>
  <bridge name='controller_net' stp='on' delay='0'/>
  <mac address='52:54:22:0d:36:be'/>
  <ip address='192.168.230.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.230.2' end='192.168.230.254'/>
    </dhcp>
  </ip>
</network>
